name: Backend CI

on:
  push:
  pull_request:

jobs:
  pipeline:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run Biome
        run: biome ci .

      - name: Type check
        run: bunx tsc --noEmit

      - name: Run Unit Tests
        run: bun test src/
